.navbar{
    height: 60px;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #242424;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1000;
}
.logo{
    color: white;
    font-size: 28px;
    font-weight: 650;
    padding-left: 80px;
}
.logo-entry{
    color: white;
}
.links{
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding-left: 850px;
}
.entries{
    color:white;
    font-size: 18px;
    font-weight: 500;
}